@charset "utf-8";
/* CSS Document */
html {
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
}

*, html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gray);
}
a, p, li, dd, th, td {
  font-size: clamp(1.1rem, 1.1vw, 1.1rem);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  color: var(--blue1);
  cursor: pointer;
  opacity: .6;
  transition: 0.5s;
}
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
:root {
  --gold: #ffd700;
  --blue1: #120D69;
  --blue2: #EAF6FF;
  --blue3: #285ac8;
  --gray: #2D2D2D;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.tac {
  text-align: center;
}
/*-------------レスポンシブヘッダー----------------*/



header {
  width: 100vw;
  height: 90px;
  display: block;
  position: fixed;
  background: #fff;
  z-index: 30;
  box-shadow: 2px 2px 5px 2px rgba(97, 97, 156, 0.18);
  margin: 0 auto;
}
.top_logo img {
  width: auto;
  height: 50px;
  margin-top: -10px;
}
.header_wrap {
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 50px;
}
.main_navigation li {
  margin-left: 25px;
  font-weight: bold;
}

.gnavi__list_a {
  color: var(--blue1);
}

.gnavi__list_a {
  position: relative;
  display: inline-block;
  height: 110px;
	text-align: center;
	color: var(--blue1);
}

.gnavi__list_a span{
	color: #b0c4de;
	display: block;
	margin-top: -5px;
}

.gnavi__list_a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: var(--blue3);
  bottom: 29px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.gnavi__list_a:hover::after {
  transform: scale(1, 1);
}
.nav_mail {
  position: relative;
}
.nav_mail img {
  width: 60px;
  height: auto;
  position: absolute;
  top: -18px;
  left: 0;
}
.nav_toggle,.nav,.res_nav{
  display: block;
}
	.res_nav{
		position: relative;
	}
	.res_nav img{
		position:absolute;
		top: -13px;
		left: -60px;
		width: 50px;
		height: auto;
	}

.nav_bg{
  width: 100vw;
  height: 100%;
  background-color: #fff;
  z-index: 25;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  position: fixed;
}
.nav_bg.show {
  opacity: 0.7;
  visibility: visible;
}	

/*-------------レスポンシブグローバルナビゲーション----------------*/
.gnavi__list {
  position: relative;
}
.gnavi__list > .dropdown__lists {
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 80px;
  right: 170px;
  margin: auto;
  transition: 0.3s;
}
.gnavi__list > .dropdown__lists_2 {
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 80px;
  left: -250px;
  margin: auto;
  transition: 0.3s;
}
.gnavi__list > .dropdown__lists_3 {
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 80px;
  left: -180px;
  margin: auto;
  transition: 0.3s;
}
.gnavi__list:hover .dropdown__lists {
  opacity: 1;
  display: block;
}
.gnavi__list:hover .dropdown__lists_2 {
  opacity: 1;
  display: block;
}
.gnavi__list:hover .dropdown__lists_3 {
  opacity: 1;
  display: block;
}
.dropdown__list a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-top: 13px;
}
.dropdown__list {
  background-color: var(--blue3);
  width: 400px;
  height: 50px;
  transition: all .3s;
  position: relative;
  text-align: center;
}
.dropdown__list:not(:first-child)::before {
  content: "";
  width: 400px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown__list:hover {
  background-color: #fff;
}
.dropdown__list a:hover {
  color: var(--blue1);
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .main_navigation {
  display: none;
}
.nav_toggle {
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  cursor: pointer;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
.nav {
  width: 100%;
  position: fixed;
  top: 97px;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.nav.show {
  opacity: 1;
  visibility: visible;
}
.nav_menu_li {
  padding: 30px 0;
  width: 100%;
  background-color: var(--blue3);
	
  display: block;
  /*border-bottom: solid 1px var(--blue1);*/
}
.nav_menu_li:hover a {
  opacity: 0.7;
}
.nav_menu_li a {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}

.ac-child {
  display: none;
}

.ac-child li{
  padding:20px ;
  background-color: var(--blue2);
  text-align: center;
	/*border-bottom: solid 1px #fff;*/
}

.ac-child li a{
	color: var(--gray);
}	
}

/*-------------レスポンシブハンバーガーメニュー----------------*/

.nav_toggle {
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  cursor: pointer;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
.nav {
  width: 100%;
  position: fixed;
  top: 97px;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.nav.show {
  opacity: 1;
  visibility: visible;
}
.nav_menu_li {
  padding: 30px 0;
  width: 100%;
  background-color: var(--blue3);
	
  display: block;
  /*border-bottom: solid 1px var(--blue1);*/
  text-align: center;
}
.nav_menu_li:hover a {
  opacity: 0.7;
}
.nav_menu_li a {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}

.ac-child {
  display: none;
}

.ac-child li{
  padding:20px ;
  background-color: var(--blue2);
  text-align: center;
	border-bottom: solid 1px #fff;
}

.ac-child li a{
	color: var(--gray);
}

/*-------------レスポンシブメインビジュアル----------------*/
.mainvisual {
  display: none;
}

.res_mainvisual{
	display:block;
	padding: 90px 0 70px 0;
}

.main_bg {
  display: none;
}

.mainvisual_wrap {
  width:  100vw;
  margin: 0 auto;
  position: relative;
}
.logo2 {
 display: none;
}

.mainvisual_text_wrap {
  display: block;
  width: 90%;
	margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}
.mainvisual_title {
  display: block;
  margin: 0 auto;
  z-index: 5;
}
.mainvisual_title h1 {
  font-size: 2.0rem;
  color: var(--gray);
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  margin-top: 10px;
}
.mainvisual_text1 {
  display: block;
  width: 200px;
  background: rgb(2, 186, 165);
  background: linear-gradient(90deg, rgba(2, 186, 165, 1) 0%, rgba(45, 45, 226, 1) 52%, rgba(19, 9, 195, 1) 100%);
  color: #fff;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.08em;
  margin: 10px 0 0 0;
  padding: 5px;
  margin: 0 auto;
}
.mainvisual_text2 {
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 20px;
  font-size: 1.0rem;
  margin-top: -10px;
	width: 98%;
}
.mainvisual_text3 {
  position: relative;
}
.mainvisual_text3::after {
  content: '';
  width: 100px;
  height: 152px;
  border-bottom: solid var(--blue1) 3px;
  /*border-top: solid var(--gold) 4px;*/
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}

.res_top_btn1,.res_top_btn2{
	width: 90%;
	padding: 15px;
	text-align: center;
	font-weight: 600;
}

.res_top_btn1{
	background-color: var(--blue3);
	color: #fff;
	margin-right: 10px;
}
.res_top_btn2{
	background: #fff;
	border: solid 3px var(--blue3);
	color: var(--blue3);
}

.res_top_btn1:hover{
	color: var(--blue3);
	background: #fff;
	border: solid 3px var(--blue3);
}

.res_top_btn2:hover{
	background-color: var(--blue3);
	color: #fff;
}

/*-------------レスポンシブTOP企業ロゴスクロール----------------*/
.sec_1 {
  padding:0 0 50px 0;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
IE11対策
----------------------------*/
_:-ms-lang(x)::-ms-backdrop,
.d-demo {
  display: -ms-grid;
  overflow: hidden;
}
/*----------------------------*/

.d-demo__wrap {
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left{
animation :infinity-scroll-left 60s infinite linear 0.5s both;
}

.d-demo__item {
  width: 660px;
	margin-bottom: -40px;
}
.d-demo__item > img{
   height: 50%;
	width: auto;
}
/*.loop_wrap {
  display: flex;
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
}
.loop_wrap img {
  width: auto;
  height: 100%;
}

.loop_wrap img:first-child {
  animation: loop 70s -35s linear infinite;
}

.loop_wrap img:last-child {
  animation: loop2 70s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}*/
/*-------------レスポンシブTOPミッション会社情報----------------*/
.sec_3 {
  display: none;
}

.res_sec_3{
	display: block;
	width: 100vw;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  /*background-color: var(--blue2);*/
}

.sec_3_wrap {
  width: 75%;
  margin: 0 auto;
}

.title_sec3 {
	margin: 0 auto;
  margin-bottom: 10px;
}
.sec_3_contents {
  width: 100%;
}
.sec_3_content {
  margin-bottom: 25px;
}
.sec_3_text {
  width: 100%;
}
.sec_3_text h3 {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--blue3);
}
.sec_3_text p {
  line-height: 1.6em;
  font-size: 1.0rem;
}
.sec_3_img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.sec_3_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.res_sec_btn{
	display: block;
	font-weight: 400;
	width:60%; 
	background: var(--blue3);
	color: #fff;
	text-align: center;
	padding: 15px;
	margin: 20px auto;
}

/*-------------レスポンシブTOPサービス事業内容----------------*/
.sec_2 {
  width: 100vw;
  margin: 0 auto;
}
.sec_2_wrap {
  width: 90%;
  margin: 0 auto;
}
.sec_title {
  display: block;
  position: relative;
  z-index: 0;

}
.sec_title_border {
  position: relative;
}
.sec_title_border::after {
  content: '';
  display: block;
  width: 100px;
  position: absolute;
  bottom: -40px;
  left: 0;
  border: solid var(--blue3) 2px;
}
.title_bg_img {
  display: none;
}
.sec_title p {
  font-weight: bold;
  line-height: 1.3em;
	margin: 0 auto;
}
.sec_title_1 {
  font-size: 3.7rem;
  /*text-align: center;*/
  color: var(--blue3);
  letter-spacing: 0.08em;
	
}
.sec_title_2 {
  font-size: 1.5rem;
  color: var(--blue3);
	/*text-align: center;*/
}
.sec_title_4 {
  width: 85%;
  margin: 0 auto;
}
.sec_text p {
  line-height: 2.0em;
}
.sec_text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.sec_btn {
  text-align: center;
  width: 200px;
  color: #fff;
  background-color: var(--blue1);
  padding: 15px 0;
  margin-top: 50px;
}
.sec_2_img {
  display: none;
}

.services_list {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
	display: block;
}
.services_list li {
  /*width: 600px;*/
	margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: auto;
	margin-bottom: 50px;
}
.services_list li > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.services_list dt {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin: 5px 0;
}
.services_list dd {
  line-height: 1.5em;
}
.services_list_detail {
  padding: 10px 0 0 0;
  position: relative;
}
.services_list_detail a {
  font-size: 1.3rem;
  line-height: 1.7em;
  font-weight: 500;
  margin-left: 45px;
}
.services_list_detail span {}
.services_list_detail .arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -12px;
  margin: auto;
  width: 30px;
  height: 30px;
  transition: .3s ease-in-out;
  padding: 7px;
  background: var(--blue3);
}
.services_list_detail a:hover .arrow {
  left: 6px;
}

.services_list li:nth-last-child(even){
	margin-right: 0px;
}

.services_list li:nth-last-child(odd){
	margin-left: 0px;
}

/*-------------レスポンシブTOP実績ACHIEVEMENTS----------------*/
.sec_4 {
  width: 100vw;
  margin: 0 auto;
  padding: 30px 0 100px 0;
}
.sec_4_wrap {
  width: 85%;
  margin: 0 auto;
}
.achievements_list_flex {
  display: none;
}
.achievements_list {
  width: 450px;
  margin-top: 50px;
}
.achievements_list img {
  width: 100%;
}
.achievements_list dl {
  margin-left: 30px;
}
.achievements_list dt {
  border: solid 1px #000;
  width: 300px;
  height: 250px;
}
.achievements_list dd {
  margin: 10px;
}
/*-------------レスポンシブTOPブログ----------------*/
.sec_5 {
  width: 100vw;
  margin: 0 auto;
  padding: 0 0 100px 0;
  /*background-color: var(--blue2);*/
}
.sec_5_wrap {
  width: 85%;
  margin: 0 auto;
}
.blog_list_flex {
  display: none;

}

.blog_list {
  width: 400px;
  margin-top: 50px;
}
.blog_list img {
  width: 100%;
}
.blog_list dl {
  margin-left: 30px;
}
.blog_list dt {
  border: solid 1px #000;
  width: 300px;
  height: 250px;
}
.blog_list dd {
  margin: 10px;
}

.blog_btn{
	display: block;
}

/*-------------スライダー----------------*/

.slider-wrapper {
  background: #EEE;
  display: block;
	margin: 25px 0;
}

.slider-cell {
  width: 90%;
  height: 300px;
  background: #8C8;
  margin: 0 5px;
}
/*-------------レスポンシブTOPコンタクト----------------*/
.contact {
  width: 100vw;
  background-color: var(--blue3);
  /*background-image: url("file:///C:/Users/kameokna/Desktop/%E7%B7%B4%E7%BF%92%E3%81%BE%E3%81%A8%E3%82%81/%E7%B7%B4%E7%BF%928/img/contact_img.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
  padding: 70px 0;
	text-align: center;
}
.contact_title_1 {
  font-size: 3rem;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
}
.contact_title_2 {
  font-size: 1.3rem;
  color: #fff;
}
.contact_title {
  width: 85%;
  margin: 0 auto;
}

.contact_btn{
	display: none;
}

/*-------------レスポンシブフッター----------------*/
footer {
  width: 100vw;
  padding: 50px 0;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
.footer_list {
  display: none;
}
.footer_logo img {
  width: 150px;
}

.footer_logo{
	text-align: center;
	margin: 0 auto;
}

.footer_list ul{
	width: 300px;
}

.footer_list ul:first-child {
  
  margin-right: 60px;
}
.footer_list li {
  padding: 20px 0;
  border-bottom: solid #000 1px;
  position: relative;
}
.footer_list li .arrow {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  transition: .3s ease-in-out;
}
.footer_list li:hover .arrow {
  right: 0;
}

.addres li:last-child{
	margin-top: 40px;
	
}

.sns{
	justify-content: center;
}

.sns img{
	width: 50px;
	height: auto;
	margin-right: 10px;
}

footer small {
  display: block;
  text-align: center;
  margin-top: 100px;
  color: gray;
}
/*-------------レスポンシブボタン----------------*/


.button-4 {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: var(--blue3);
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 20px;
}
.button-4 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.eff-4 {
  width: 250px;
  height: 70px;
  left: -250px;
  background: #fff;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.button-4:hover .eff-4 {
  left: 0;
}
.button-4:hover a {
  color: var(--blue3);
}
/*-----------------------------*/
.button-5 {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  z-index: 0;
}
.button-5 a {
  font-size: 16px;
  color: var(--blue3);
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.eff-5 {
  width: 250px;
  height: 70px;
  left: -250px;
  background-color: var(--blue3);
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.button-5:hover .eff-5 {
  left: 0;
}
.button-5:hover a {
  color: #fff;
}
/*-----------------------------*/
.contact_btn {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  margin: 0;
}
.contact_btn a {
  font-size: 16px;
  color: var(--blue3);
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.eff-contact {
  width: 250px;
  height: 70px;
  left: -250px;
  background-color: var(--blue1);
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.contact_btn:hover .eff-contact {
  left: 0;
}
.contact_btn:hover a {
  color: #fff;
}

.button-2{
	display: none;
}

.res_sec_btn{
	display: block;
}

.res_top_btn1,.res_top_btn2{
	display: block;
	margin: 0 auto;
}

.res_top_btn1{
	margin-bottom: 10px;
}

.res_btn_wrap{
	width: 100%;
	margin: 0 auto;
}
/*--------------会社情報---------------*/
/*--------------お問合せ---------------*/

.contact_page>.company_wrap,.company_wrap{
	display: none;
}

.res_contact_wrap,.res_company_wrap{
	display: block;
	width: 92%;
	margin: 0 auto;
	margin-top: 30px;
}

.res_contact_wrap textarea{
	width: 100%;
}

.res_contact-form{
	display: block;
}

.res_contact-form li{
	
}

.contact_margin{
	height: 20px;
}

.res_contact_form {
  display: none;
}

.res_form_txt{
	height: 50px;
	width: 100%;
}

.res_contact_wrap p{
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 500;
}

.res_company_table{
	border: 1px solid #fff;
}

.res_company_table dt,.res_company_table dd{
	border-bottom: 1px solid #fff;
	padding: 20px
}

.res_company_table dd:last-child{
	border-bottom: none;
}

.res_company_table dt{
	background: var(--blue3);
	color: #fff;
	font-weight: 600;
}

.conpany {
  margin: 0 auto;
}
.company_wrap {
  width: 100%;
  padding: 70px 0 0 0;
}
.company_table_wrap {
  width: 85%;
  margin: 0 auto;
}
.page_title_wrap {
  width: 100%;
  background-color: #f1f4fc;
  margin: 0 auto;
}
.page_title {
  padding: 150px 0 50px 0;
  margin: 0 auto;
  width: 85%;
}
.page_title2 {
  padding: 100px 0 70px 0;
  margin: 0 auto;
  width: 85%;
  position: relative;
}
.page_title_en {
  font-weight: bold;
  font-size: 4em;
  line-height: 1.2em;
  color: var(--blue3);
}
.page_title_ja {
  color: var(--blue3);
}
.table_title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}
.table_text {
  text-align: center;
  margin-bottom: 50px;
}
.company_wrap {
  padding-bottom: 70px;
}

.company_table {
  width: 75%;
  margin: 0 auto;
}
.company_table, .company_table td, .company_table th, .contact-form, .contact-form td, .contact-form th {
  border-collapse: collapse;
}
.company_table {
  margin-top: 30px;
  border: 1px solid var(--gray);
}
.company_table tr{
  width: 70px;
  height: 25px;
}

.company_table td, .company_table th {
  padding: 30px 50px;
}
.contact-form th {
  color: var(--blue1);
  text-align: left;
}
.company_table th {
  background-color: var(--blue3);
  color: #fff;
  width: 200px;
  text-align: center;
  border-bottom: #fff solid 1px;
}
.company_table th:last-of-type {
  border-bottom: var(--gray) solid 1px;
}
.company_table td {
  border: solid 1px var(--gray);
  box-sizing: border-box;
  border-left: none;
}
.form_btn {
  width: 50%;
  padding: 10px;
  border: none;
  background: var(--blue3);
  color: #fff;
  margin: 40px auto;
  display: block;
  font-size: 1.0em;
  font-weight: bold;
  cursor: pointer;
}

.form_btn_2{
	width: 70%;
  padding: 10px;
  border: none;
  background: var(--blue3);
  color: #fff;
  margin: 40px auto;
  display: block;
  font-size: 1.0em;
  font-weight: 700;
  cursor: pointer;
}

.required {
  font-size: 0.8em;
  display: inline-block;
  background-color: var(--blue3);
  color: #fff;
  padding: 3px 5px;
  width: 50px;
  margin: 5px;
  text-align: center;
}
.btn-check {
  text-align: center;
  margin-top: 25px;
  font-size: 0.8em;
}
.inquiry input {}
textarea, .contact-form input[type='text'], .contact-form input[type='email'], .contact-form input[type='tel'] {
  font: 16px/24px sans-serif;
  width: 400px;
  border: 1;
}

/*-------------ダウンロードページ----------------*/
.download_wrap {
  padding: 70px 0;
}
.res_download_img {
  margin: 0 auto;
  display: block;
  width: 350px;
  height: 250px;
  border: solid #000 1px;
  position: relative;
  margin-bottom: 50px;
}
.res_download_img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*-------------レスポンシブメンバー紹介----------------*/
.member_wrap {
  display: none;
}

.res_member_wrap{
	display: block;
	width: 90%;
	margin: 0 auto;
}

.ceo_text h2 {
  font-size: 2.0rem;
}
.ceo {
  text-align: center;
}
.ceo_img {
  width: 300px;
  height: auto;
  border: solid 1px #000;
	margin: 0 auto;
}
.ceo_post {
  font-size: 1.0rem;
}
.staff li {
  margin-left: 20px;
  text-align: center;
}
.post {
  color: gray;
  font-size: 0.9rem;
}
.staff_name {
  font-size: 1.5rem;
}
/*-------------ブログ一覧----------------*/
.blog_wrap {
  width: 85%;
  margin: 0 auto;
  margin: 70px auto;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-list li {
  width: 300px;
  margin-bottom: 40px;
  margin-right: 40px;
}
.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
  border: solid 1px #000;
}
.link-text {
  display: block;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  padding: 0 20px;
}
/*-------------ページ読み込み時アニメーション----------------*/
/* .fade-box {
  display: none;
} */
/*-------------スクロールすると下からふわっとさせるためのコード----------------*/
.inview {
  /* 30px下げる */
  transform: translateY(40px);
  /* 要素を透明にする */
  opacity: 0;
  /* 2秒かけて、変化させる */
  transition: transform 1.5s, opacity 1.5s;
}
.inview.show {
  transform: translateY(0);
  opacity: 1;
}
/*------------------*/
.inview2 {
  transform: translatex(40px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
.inview2.show2 {
  transform: translatex(0);
  opacity: 1;
}
/*-------------ローディングアニメーション----------------*/
.loding {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}
.configure-border-1 {
  width: 115px;
  height: 115px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue2);
  animation: configure-clockwise 4s ease-in-out 0s infinite alternate;
  top: 400px;
  right: 0;
  left: 0;
  border-bottom: 0;
  margin: auto;
}
.configure-border-2 {
  width: 115px;
  height: 115px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue2);
  transform: rotate(45deg);
  animation: configure-xclockwise 4s ease-in-out 0s infinite alternate;
  top: 400px;
  right: 0;
  left: 0;
  border-bottom: 0;
  margin: auto;
}
.configure-core {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
/*-------------TOPにもどるボタン----------------*/
.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 4%;
}
.pagetop img {
  width: 30px;
  height: auto
}
.pagetop a {
  display: block;
  background-color: #ccc;
  text-align: center;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  padding: 20px 20px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  /*border-radius: 50%;*/
}
.pagetop a:hover {
  display: block;
  background-color: #b2d1fb;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}