@charset "utf-8";
/* CSS Document */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
*, html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gray);
}
a, p, li, dd, th, td {
  font-size: clamp(1.1rem, 1.1vw, 1.1rem);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  color: var(--blue1);
  cursor: pointer;
  opacity: .6;
  transition: 0.5s;
}
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
:root {
  --gold: #c89628;
  --blue1: #120D69;
  --blue2: #EAF6FF;
  --blue3: #285ac8;
  --blue4: #f1f4fc;
  --gray: #404040;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.tac {
  text-align: center;
}
.m0a {
  margin: 0 auto;
}
/*-------------ヘッダー----------------*/
header {
  width: 100vw;
  height: 110px;
  display: block;
  position: fixed;
  background: #fff;
  z-index: 20;
  box-shadow: 2px 2px 5px 2px rgba(97, 97, 156, 0.18);
  margin: 0 auto;
}
.top_logo img {
  width: auto;
  height: 70px;
  margin-top: -10px;
}
.header_wrap {
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 100px;
}
.main_navigation li {
  margin-left: 45px;
  font-weight: bold;
}
.gnavi__list_a {
  position: relative;
  display: inline-block;
  height: 110px;
  text-align: center;
  color: var(--gray);
}
.gnavi__list_a span {
  color: var(--blue3);
  display: block;
  margin-top: -5px;
	font-size: 0.8em;
}
.gnavi__list_a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: var(--blue3);
  bottom: 29px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.gnavi__list_a:hover::after {
  transform: scale(1, 1);
}
.nav_mail {
  position: relative;
}
.nav_mail img {
  width: 60px;
  height: auto;
  position: absolute;
  top: -18px;
  left: 0;
}
.nav, .nav_toggle, .res_nav {
  display: none;
}
/*-------------グローバルナビゲーション----------------*/
.gnavi__list {
  position: relative;
}
.gnavi__list > .dropdown__lists {
  width: 100%;
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 90px;
  right: 190px;
  margin: auto;
}
.gnavi__list > .dropdown__lists_2 {
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 90px;
  left: -250px;
  margin: auto;
  
}
.gnavi__list > .dropdown__lists_3 {
  opacity: 0;
  display: none;
  direction: none;
  width: 100%;
  position: absolute;
  top: 90px;
  left: -210px;
  margin: auto;
  
}
.gnavi__list:hover .dropdown__lists {
  opacity: 1;
  display: block;
}
.gnavi__list:hover .dropdown__lists_2 {
  opacity: 1;
  display: block;
}
.gnavi__list:hover .dropdown__lists_3 {
  opacity: 1;
  display: block;
}
.dropdown__list a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 0;
}
.dropdown__list {
  background-color: var(--blue3);
  width: 400px;
  height: auto;
  transition: all .3s;
  position: relative;
  text-align: center;
}
.dropdown__list_en {
  font-size: 1.5rem;
}
.dropdown__list_jp {
  font-size: 1.0rem;
}
.dropdown__list:not(:first-child)::before {
  content: "";
  width: 400px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown__list:hover {
  background-color: #fff;
}
.dropdown__list a:hover {
  color: var(--blue1);
  opacity: 1;
}
@media screen and (max-width: 850px) {
  .main_navigation {
    display: none;
  }
  .nav_toggle, .nav, .res_nav {
    display: block;
  }
  .res_nav {
    position: relative;
  }
  .res_nav img {
    position: absolute;
    top: -22px;
    left: -80px;
    width: 70px;
    height: auto;
  }
  .nav_toggle {
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  .nav {
    width: 100%;
    position: fixed;
    top: 97px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }
  .nav.show {
    opacity: 1;
    visibility: visible;
  }
	.nav_menu_ul{
		background: var(--blue3);
		padding: 20px 0 30px 0;
	}
	
	
  .nav_menu_li {
    padding: 30px 0;
    width: 100%;
    background-color: var(--blue3);
    display: block;
    text-align: center;
  }
	
  .nav_menu_li:hover a {
    opacity: 0.7;
  }
  .nav_menu_li a {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
  }
	.nav_menu_li:last-child{
		position: relative;
	}
	.nav_menu_li:last-child::before{
		content: "";
		width: 150px;
		height: 1px;
		background: #fff;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		margin: auto;
		
	}
  .nav_bg {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    position: fixed;
  }
  .nav_bg.show {
    opacity: 0.7;
    visibility: visible;
  }
  .ac-child {
    display: none;
    background-color: var(--blue2);
  }
  .ac-child li {
    padding: 30px;
    text-align: center;
    /*border-bottom: solid 1px #fff;*/
    font-weight: bold;
  }
  .ac-child li a {
    color: var(--gray);
  }
	
	.ac-parent{
		position: relative;
	}
	.ac-parent::before{
		 content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .5s;
	}
	.ac-parent::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: transform .5s;
}
	.ac-parent.show::before {
    opacity: 0;
}
.ac-parent.show::after {
    transform: translateY(-50%) rotate(180deg);
}
	/*.ac_services{
		background-color:#ffffea;
	}*/
	
}
/*-------------メインビジュアル----------------*/
.mainvisual {
  width: 100%;
  padding: 90px 0 70px 0;
  position: relative;
}
.res_mainvisual {
  display: none;
}
.main_bg {
  width: 100vw;
  height: 86%;
  background-color: #f1f4fc;
  margin: 0 auto;
  z-index: -1;
  top: 0;
  right: 0;
  position: absolute;
}
.mainvisual_wrap {
  /*max-width: 1400px;*/
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.logo2 {
  width: 700px;
  height: auto;
  position: absolute;
  bottom: 110px;
  right: 1%;
  z-index: -1;
  opacity: 0.85;
}
.yellow {
  color: var(--gold);
  font-size: 3.2rem;
}
.mainvisual_text_wrap {
  display: block;
  width: 800px;
  margin-top: 70px;
}
.mainvisual_title {
  display: block;
  margin: 0 auto;
  z-index: 5;
  /*margin-left: 3%;*/
}
.mainvisual_title h1 {
  font-size: 3.5rem;
  color: var(--gray);
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  margin-top: 10px;
}
.mainvisual_text1 {
  display: block;
  width: 250px;
  background: rgb(2, 186, 165);
  background: linear-gradient(90deg, rgba(2, 186, 165, 1) 0%, rgba(45, 45, 226, 1) 52%, rgba(19, 9, 195, 1) 100%);
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.08em;
  margin: 10px 0 0 0;
  padding: 5px;
  text-align: center;
}
.mainvisual_text2 {
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 20px;
  font-size: 1.2rem;
  margin-top: -10px;
}
.mainvisual_text3 {
  position: relative;
}
/*.mainvisual_text3::after {
  content: '';
  width: 500px;
  height: 152px;
  border-bottom: solid var(--gray) 1px;
  border-top: solid var(--gold) 4px;
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: auto;
}*/
/*-------------企業ロゴスクロール----------------*/
.sec_1 {
  padding: 30px 0 70px 0;
  margin-top: -30px;
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*IE11対策*/
_:-ms-lang(x)::-ms-backdrop, .d-demo {
  display: -ms-grid;
  overflow: hidden;
}
/*----------------------------*/
.d-demo__wrap {
  display: flex;
  overflow: hidden;
  margin-bottom: -20px;
}
.d-demo__list {
  display: flex;
  list-style: none;
}
.d-demo__list--left {
  animation: infinity-scroll-left 60s infinite linear 0.5s both;
}
.d-demo__item {
  width: 1070px;
}
.d-demo__item > img {
  height: 80%;
  width: auto;
}
/*-------------TOP会社について----------------*/
.sec_3 {
  width: 100%;
  margin: 0 auto;
  /*background-color: var(--blue2);*/
}
.res_sec_3 {
  display: none;
}
.sec_3_wrap {
  width: 75%;
  margin: 0 auto;
}
.title_sec3 {
  margin-right: 50px;
  margin-bottom: 50px;
  min-width: 300px;
}
.sec_3_contents {
  width: 100%;
}
.sec_3_content {
  margin-bottom: 25px;
}
.sec_3_text {
  width: 630px;
}

.sec_3_h3  {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--blue3);
}
.sec_3_text p {
  line-height: 2.0em;
  font-size: 1.1rem;
}
.missino_img {
  width: 600px;
  height: auto;
  overflow: hidden;
  margin-right: 50px;
}
.res_sec_3_h3 {
  display: none;
}
@media screen and (max-width: 1880px) {
  .sec_3_h3 {
    display: none;
  }
  .res_sec_3_h3 {
   font-size: 2.0rem; display: block;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--blue3); }
  .sec_3_text p {
    line-height: 1.6em;
  }
}
/*-------------TOPサービス事業内容----------------*/
.sec_2 {
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}
.sec_2_wrap {
  width: 90%;
  margin: 0 auto;
}
.sec_title {
  display: block;
  position: relative;
  z-index: 0;
}
.sec_title_border {
  position: relative;
}
.sec_title_border::after {
  content: '';
  display: block;
  width: 100px;
  position: absolute;
  bottom: -40px;
  left: 0;
  border: solid var(--blue3) 2px;
}
.title_bg_img {
  /*display: none;*/
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -100px;
  width: 600px;
  height: auto;
}
.title_bg_img2 {
  /*display: none;*/
  position: absolute;
  z-index: -1;
  top: 15px;
  left: -100px;
  width: 600px;
  height: auto;
}
.sec_title p {
  font-weight: bold;
  line-height: 1.3em;
}
.sec_title_1 {
  font-size: 4.5rem;
  margin-right: 50px;
  color: var(--blue3);
  letter-spacing: 0.08em;
}
.sec_title_2 {
  font-size: 1.5rem;
  color: var(--blue3);
}
.sec_title_4 {
  width: 85%;
  margin: 0 auto;
}
.sec_text p {
  line-height: 2.0em;
}
.sec_text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.sec_btn {
  text-align: center;
  width: 200px;
  color: #fff;
  background-color: var(--blue1);
  padding: 15px 0;
  margin-top: 50px;
}
.sec_2_img {
  width: 100%;
  height: 250px;
  /* border: solid 1px var(--blue1); */
  position: relative;
  overflow: hidden;
}
.sec_2_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.services_list {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  flex-wrap: wrap;
  margin-top: 50px;
}
.services_list li {
  width: calc(100%/2-25px);
  position: relative;
  overflow: hidden;
  height: auto;
  margin-bottom: 50px;
}
.services_list li:nth-last-child(even) {
  margin-right: 25px;
}
.services_list li:nth-last-child(odd) {
  margin-left: 25px;
}
.services_list li > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.services_list dl {
  max-width: 600px;
}
.services_list dt {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin: 5px 0;
}
.services_list dd {
  line-height: 1.5em;
}
.services_list_detail {
  padding: 10px 0 0 0;
  position: relative;
}
.services_list_detail a {
  font-size: 1.3rem;
  line-height: 1.7em;
  font-weight: 500;
  margin-left: 45px;
}
.services_list_detail span {}
.services_list_detail .arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -12px;
  margin: auto;
  width: 30px;
  height: 30px;
  transition: .3s ease-in-out;
  padding: 7px;
  background: var(--blue3);
}
.services_list_detail a:hover .arrow {
  left: 6px;
}
/*-------------TOP事例CASE----------------*/
.sec_4 {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 120px 0;
}
.sec_4_wrap {
  width: 75%;
  margin: 0 auto;
}
.achievements_list_flex {
  display: flex;
}
.achievements_list, .blog_list {
  width: calc(100%/3);
  margin-right: 20px;
  margin-top: 50px;
}
.achievements_list img, .blog_list img {
  width: 100%;
}
.achievements_list dl, .blog_list dl {
  margin-left: 30px;
}
.achievements_list dt, .blog_list dt {
  border: solid 1px #000;
  width: calc(100%/3-20px);
  height: auto;
}
.achievements_list dd {
  margin: 10px;
}
/*-------------TOPブログ----------------*/
.sec_5 {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 150px 0;
  /*background-color: var(--blue2);*/
}
.sec_5_wrap {
  width: 75%;
  margin: 0 auto;
}
.blog_list_flex {
  display: block;
  display: flex;
}
.blog_btn {
  display: none;
}
/*-------------スライダー----------------*/
.slider-wrapper {
  display: none;
}
/*-------------TOPコンタクト----------------*/
.contact {
  width: 100%;
  background-color: var(--blue3);
  /* background-image: url("img/contact_img2.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.contact_title_1 {
  font-size: 4.0rem;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
}
.contact_title_2 {
  font-size: 1.0rem;
  color: #fff;
}
.contact_title {
  width: 75%;
  margin: 0 auto;
}
/*-------------フッター----------------*/
footer {
  width: 100%;
  padding: 80px 0;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
.footer_list {
  width: 55%;
}
.footer_logo img {
  width: 150px;
}
.footer_list {
  justify-content: center;
}
.footer_list ul {
  width: 300px;
}
.footer_list ul:first-child {
  margin-right: 60px;
}
.footer_list li {
  padding: 20px 0;
  border-bottom: solid #000 1px;
  position: relative;
}
.footer_list li .arrow {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  transition: .3s ease-in-out;
}
.footer_list li:hover .arrow {
  right: 0;
}
.addres li:last-child {
  margin-top: 20px;
}
.sns img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
footer small {
  display: block;
  text-align: center;
  margin-top: 100px;
  color: gray;
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


/*-------------ボタン----------------*/
.button-4 {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: var(--blue3);
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 20px;
}
.button-4 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: relative;
}
.button-4 a::after {
  content: '〉';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -40px;
}
.eff-4 {
  width: 250px;
  height: 70px;
  left: -250px;
  background: #fff;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.button-4:hover .eff-4 {
  left: 0;
}
.button-4:hover a {
  color: var(--blue3);
}
/*------------------*/
.button-5 {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  z-index: 0;
}
.button-5 a {
  font-size: 16px;
  color: var(--blue3);
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.button-5 a::after {
  content: '〉';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -40px;
}
.eff-5 {
  width: 250px;
  height: 70px;
  left: -250px;
  background-color: var(--blue3);
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.button-5:hover .eff-5 {
  left: 0;
}
.button-5:hover a {
  color: #fff;
}
/*----------------*/
.contact_btn {
  width: 250px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  margin: 0;
  margin-right: 15px;
}
.contact_btn a {
  font-size: 16px;
  color: var(--blue3);
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.contact_btn a::after {
  content: '〉';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -35px;
}
.eff-contact {
  width: 250px;
  height: 70px;
  left: -250px;
  background-color: var(--blue1);
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.contact_btn:hover .eff-contact {
  left: 0;
}
.contact_btn:hover a {
  color: #fff;
}
/*------------------*/
.button-2 {
  width: 300px;
  height: 70px;
  border: 2px solid var(--blue3);
  background-color: var(--blue3);
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 30px;
}
.button-2 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 65px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
}
.eff-2 {
  width: 300px;
  height: 70px;
  left: -400px;
  background: #fff;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.button-2:hover .eff-2 {
  left: 0;
}
.button-2:hover a {
  color: var(--blue3);
}
.res_sec_btn {
  display: none;
}
.res_top_btn1, .res_top_btn2 {
  display: none;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*--------------下層ページタイトル---------------*/
.page_title_wrap {
  width: 100%;
  /*background-color: var(--blue3);*/
  margin: 0 auto;
}
.page_title {
  padding: 150px 0 50px 0;
  margin: 0 auto;
  width: 85%;
}
.page_title2 {
  padding: 100px 0 70px 0;
  margin: 0 auto;
  width: 85%;
  position: relative;
}
.page_title_en {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.2em;
  color: var(--blue3);
}
.page_title_ja {
  color: var(--blue3);
}
/*--------------下層ページ会社情報・お問合せ共通---------------*/
.conpany, .contact_page {
  margin: 0 auto;
}
.company_table, .company_table td, .company_table th, .contact-form, .contact-form td, .contact-form th {
  border-collapse: collapse;
}
.table_title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}
.table_text {
  text-align: center;
  margin-bottom: 50px;
}
.contact-form {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}
/*--------------下層ページ会社情報---------------------------*/
.res_company_table {
  display: none;
}
.company_table_wrap {
  width: 85%;
  margin: 0 auto;
}
.company_table{
	margin: 0 auto;
}
.company_wrap {
  padding-bottom: 70px;
}

.company_table tr{
	border-bottom: solid var(--gray) 1px;
	height: 110px;
}

.company_table td {
  padding: 0px 0px;
}
.company_table th {
  text-align: left;
  padding: 0px 0px;
  width: 30%;
}
.res_company_table dt, .res_company_table dd {
  border-bottom: 1px solid #fff;
  padding: 20px
}
.res_company_table dd:last-child {
  border-bottom: none;
}
/*--------------下層ページお問合せ---------------------------*/
.res_contact_wrap {
  display: none;
}
.contact_wrap {
  
  margin: 0 auto;
  margin-top: 70px;
}
.contact-form tr {
  height: 25px;
}
.contact-form td, .contact-form th {
  padding: 30px 0px;
}

.contact-form th {
  color: var(--blue1);
  width: 600px;
  text-align: left;
}
.form_btn {
  width: 300px;
  padding: 20px 0;
  border: none;
  background: var(--blue3);
  color: #fff;
  margin: 40px auto;
  display: block;
  font-size: 1.0em;
  font-weight: bold;
  cursor: pointer;
}
.required {
  font-size: 0.8em;
  display: inline-block;
  background-color: var(--blue3);
  color: #fff;
  padding: 3px 5px;
  width: 50px;
  margin: 5px;
  text-align: center;
}
.btn-check {
  text-align: center;
  margin-top: 25px;
  font-size: 1.0em;
}
.inquiry input {}
textarea, .contact-form input[type='text'], .contact-form input[type='email'], .contact-form input[type='tel'] {
  font: 16px/24px sans-serif;
  width: 400px;
  border: 1;
}
.res_contact_form {
  display: none;
}
.form_txt {
  height: 50px;
  /*background: var(--blue2);
	border: var(--gray) 0.5px solid;
	border-radius: 5px;*/
}
/*-------------下層ページダウンロードページ-----------------------*/
.download_wrap {
  padding: 50px 0;
}
.download_img {
  margin: 0 auto;
  display: block;
  width: 600px;
  height: 350px;
  border: solid #000 1px;
  position: relative;
  margin-bottom: 30px;
}
.download_img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.dl {}
/*-------------下層ページメンバー紹介---------------------------*/
.member_wrap {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 150px;
}
.res_member_wrap {
  display: none;
}
.ceo_text h2 {
  font-size: 2.0rem;
}
.ceo {
  margin-bottom: 70px;
}
.ceo_img {
  margin-right: 50px;
  width: 700px;
  height: auto;
  border: solid 1px #000;
}
.ceo_post {
  font-size: 1.0rem;
}
.staff li {
  margin-left: 20px;
  text-align: center;
}
.post {
  color: gray;
  font-size: 0.9rem;
}
.staff_name {
  font-size: 1.5rem;
}
/*-------------下層ページブログ一覧----------------------------*/
.blog_wrap {
  width: 90%;
  margin: 0 auto;
  margin: 70px auto;
}
.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.product-list li {
  width: 300px;
  margin-bottom: 40px;
  margin-right: 40px;
}
.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
  border: solid 1px #000;
}
.link-text {
  display: block;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  padding: 0 20px;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-------------ページ読み込み時アニメーション----------------*/
/* .fade-box {
  display: none;
} */
/*-------------スクロールすると下からふわっとさせるためのコード----------------*/
.inview {
  /* 30px下げる */
  transform: translateY(40px);
  /* 要素を透明にする */
  opacity: 0;
  /* 2秒かけて、変化させる */
  transition: transform 1.5s, opacity 1.5s;
}
.inview.show {
  transform: translateY(0);
  opacity: 1;
}
/*------------------*/
.inview2 {
  transform: translatex(40px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
.inview2.show2 {
  transform: translatex(0);
  opacity: 1;
}
/*-------------TOPにもどるボタン----------------*/
.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 4%;
}
.pagetop img {
  width: 30px;
  height: auto
}
.pagetop a {
  display: block;
  background-color: #ccc;
  text-align: center;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  padding: 20px 20px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  /*border-radius: 50%;*/
}
.pagetop a:hover {
  display: block;
  background-color: #b2d1fb;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}